#A1{
  top:48%;
  left:13.5%;
}

#A2{
  top:35%;
  left:19%;
}

#A3{
  top:40%;
  left:39%;
}

#A4{
  top: 63%;
  left: 34%;
}

#A5{
  top: 14%;
  left: 55%;
}

#A6{
  top:50%;
  left:60%;
}
